@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navbar {
  height: 60px;
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-icon {
  display: none;
}

.logo>img {
  object-fit: contain;
  height: 60px;
}

.nav-elements {
  display: flex;
  gap: 16px;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
  color: var(--artyClick-crimson);
}

.nav-link:hover {
  background-color: var(--artyClick-crimson);
  color: var(--white);
  border-radius: 10px;
}


@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: -100px;
    top: 80px;
    background-color: #f0f4f6;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    padding: 24px;
    z-index: 19;
    flex-direction: column;
  }

  .active {
    width: 270px;
    right: 0;
  }

}